<div class="container" [ngStyle]="{ width: game.Width * 50 + 25 + 'px' }">
  <div class="row">
    <div class="col-lg-12" id="omni-container">
      <div *ngIf="!isGameActive" class="shield">
        <button id="start-game-button" (click)="updateGameStatus(true)">
          Start
        </button>
      </div>
      <div *ngIf="isGameOver" class="shield">
        <div id="game-over-container">
          <p>Ur Dead</p>
          <button id="try-again" (click)="updateGameStatus(true)">
            Try Again
          </button>
        </div>
      </div>
      <div
        id="gameContainer"
        [ngStyle]="{
          width: game.Width * 50 + 'px',
          height: game.Height * 50 + 'px'
        }"
      ></div>
    </div>
  </div>
</div>
