p {
  font-family: "Spaceshards";
  font-size: 125px;
  color: white;
  background: linear-gradient(to bottom, darkred, red, white);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#gameContainer {
  margin: auto;
  cursor: pointer;
}
#omni-container {
  position: relative;
  overflow-x: hidden;
  margin-top: 10px;
}
#game-over-container {
  width: 800px;
  height: 500px;
  text-align: center;
}
#start-game-button {
  padding: 5px 50px 5px 50px;
  font-family: "SpaceShards";
  font-size: 72px;
  border: inset 10px lightgray;
}
#try-again {
  padding: 5px 50px 5px 50px;
  font-family: "SpaceShards";
  font-size: 72px;
  border: inset 10px lightgray;
}
#try-again:hover {
  box-shadow: 5px 5px 5px black;
  border: inset 10px black;
}
#start-game-button:hover {
  box-shadow: 5px 5px 5px black;
  border: inset 10px black;
}
.block {
  width: 50px;
  height: 50px;
  display: inline-block;
}
.block-style-one {
  background-color: #aad751;
}
.block-style-two {
  background-color: #8fbd37;
}
.block:hover {
  background-color: #c5e883;
}
.exploded {
  background-color: red !important;
}
.empty-style-one {
  background-color: #e5c29f !important;
}
.empty-style-two {
  background-color: #b9a086 !important;
}
.number {
  text-align: center;
  font-size: 32px;
  font-family: "SpaceShards";
  color: blue;
}
.flag {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 5px;
}
.shield {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 10; /* Higher z-index to sit above the game elements */
  cursor: not-allowed; /* Change cursor to indicate interaction is blocked */
  display: flex;
  justify-content: center;
  align-items: center;
}
