/* putting it here actually makes this font accessible to the rest of the app */
@font-face {
  font-family: "SpaceShards";
  src: url("/assets/SpaceShards-RpExo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "SpaceShards";
  letter-spacing: 2px;
  font-size: 40px;
  margin-left: 35px;
}
.navbar {
  padding-bottom: 0px;
}
